<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.badrit.BackgroundJS"
    version="0.1.0">
    <name>BackgroundJS</name>
    <description>Cordova BackgroundJS Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,BackgroundJS</keywords>
    <dependency id="org.apache.cordova.device" url="https://github.com/apache/cordova-plugin-device.git" />

    <js-module src="www/BackgroundJS.js" name="BackgroundJS">
        <clobbers target="navigator.BackgroundJS" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
       <config-file target="config.xml" parent="/*">
           <feature name="BackgroundJS">
               <param name="ios-package" value="BackgroundJS" />
           </feature>
       </config-file>

       <header-file src="src/ios/BackgroundJS.h" />
       <source-file src="src/ios/BackgroundJS.m" />
   </platform>

</plugin>
